<div class="container col-5">
    <br>
    <h3 style="text-align: center;">Add Employee</h3>
    <br>
<form >
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp"
       placeholder="Enter First Name" name="firstName" [(ngModel)]="employee.firstName"  
       />
      
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName"
       placeholder="Enter Last Name" name="lastName" [(ngModel)]="employee.lastName" />
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Email </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" 
        name="email" [(ngModel)]="employee.email"
       />
      </div>
    <div class="form-check">
    </div>
    <button type="submit"  (click)="addEmployee()" class="btn btn-primary">Submit</button>
  </form>
  <br>
</div>